<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"%>
  </div>

  <div id = "content">
    <h1>It's Abdullah Hashimn</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed lacus tristique, dapibus purus in, aliquet enim. Ut sed fringilla metus, ac varius odio. In sed erat eu erat suscipit convallis in sed nunc. Pellentesque aliquet imperdiet sem eu ullamcorper. Morbi fringilla vulputate sem, sit amet ultrices massa tincidunt ut. Nullam accumsan aliquet nisl, id luctus tellus vulputate eu. Ut imperdiet dui ex, a tincidunt nulla volutpat non. Nunc finibus pretium ante non ultricies. Duis tincidunt mollis feugiat. Sed pretium ipsum sed imperdiet viverra. Vivamus cursus faucibus tortor sed accumsan.Integer maximus ante et arcu ultricies, vel elementum nisl aliquam. Mauris facilisis libero quis justo finibus interdum. Praesent volutpat, nisl vel convallis posuere, felis tellus suscipit arcu, sit amet pharetra arcu diam sit amet ante. Pellentesque sit amet bibendum elit. Aenean nunc nisi, hendrerit porttitor porta vulputate, varius sed tellus. Suspendisse potenti. Morbi luctus finibus mi quis volutpat. Mauris porta quis tortor nec sodales. In eget ultricies neque. Duis lectus ipsum, maximus in risus ac, condimentum aliquet enim. Nullam porta lacus vitae justo efficitur auctor. Nulla dictum nisl neque, nec vulputate quam malesuada sed. Aliquam vulputate orci sed justo congue, eu porttitor elit rutrum. Nullam interdum nulla dui, non tristique libero dignissim et.</p>
  </div>

</div>
